.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}
body {
        font-family: Roboto, sans-serif;
        background:#FFFFFF;
        color:#434455 ;
        font-weight: 400;
        }

a {text-decoration: none;}
        /* Top line  contacts*/
    /* logo */
    
.header {
    border-bottom: 1px solid #e7e9fc;
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    align-items: center;
}
.novigation {
    display: flex;
    align-items: center;

}

.nav-list {
    display: flex;
    gap: 40px;
    
}
.logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    margin-right: 76px;
}
.address {
    font-style: normal;
    margin-left: auto;
    
}
.address-list {
    display: flex;
    gap: 40px;
   
}
 .studio {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
    font-family: "Raleway", sans-serif;
    }
.studio-line {
    color: #404bbf; }

.link {
    color: #2E2F42;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display:block;
    transition-property: #4D5AE5;
    position: relative;
}
.link:hover { color: #404bbf;}
.link:focus { color: #404bbf;}
.link:active { color: #404BBF;}

.info {color: #434455;
    font-size: 16px;
    line-height: 1.5;
     letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.info:hover { color: #404BBF;
}
.info:focus {
    color: #404bbf;
}
.nav-list .list {
    transition-property: color;
}
.link-studio{  
color:#404bbf;
font-size: 16px;
line-height: 1.5;
font-weight: 500;
letter-spacing: 0.02em;
padding: 24px 0;
display:block;
transition-property: #4D5AE5;
position: relative;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

.link-studio::after {
color: #404bbf;
content: '';
width: 100%;
position: absolute;
left: 0;
bottom: -1px;
height: 4px;
background-color: #404bbf;
border-radius: 2px;
}

/* title-section 1*/

.title-section {background: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
    max-height: 600px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/background.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    
 }
.title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin-right:auto;
    margin-left: auto; }

 .button {
     cursor: pointer;
     background: #4d5ae5;
     color: #FFFFFF;
     margin-top: 48px;
     margin-right: auto;
     margin-left: auto;
    height: 56px;
    padding: 16px 32px;
    display: block;
    min-width: 169px;
    border: none;
    border-radius: 4px; 

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .button:hover {
     background: #404BBF;
     color: #FFFFFF;
 }

 .button:focus {
     background-color: #404BBF;
    
 }
.button-link {
background: #2e2f42;
color: #FFFFFF;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em
} 


/* section 2 main information */

.main-info-section {
    background-color: #FFFFFF;
    padding: 120px 0;

}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    
}

.main-info-list { display: flex;
    gap: 24px;
}
/* li */




.list-main {
    background-color: #FFFFFF;
    list-style-type: none;
    padding-left: 0;
    height: 104;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 0 0 4px 4px;
    gap: 24px;
    width: calc((100% - 72px) / 4);
    
   
}
/* h3 */
.name-main-info {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: left;
}
/* p */
.text-section-second {
    font-weight: 400;
    font-size: 16px;
    color: #434455;
    background-color: #FFFFFF;
    line-height: 1.5;
    letter-spacing: 0.02em;
    list-style-type: none;
    padding-left: 0;
    text-align: left; }



/* h2 */
.name-our-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: #2e2f42;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    list-style-type: none;
    margin-bottom: 72px;
}

/*  */

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

 /* section 3 our-team */

 .our-team {
    padding: 120px 0;
    background: #f4f4fd;

 }

.our-team-card-list {
    display: flex;
    gap: 24px;
}

.list-info-personal {
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.card-image {
    display: block;
    border-bottom: 1px solid #e7e9fc;
    max-width: 100%;
     }
.card-image:hover {
        
     }

.our-team-card-details {
    padding: 32px 0;
    text-align: center;

}
.name-team-personal {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}
.text-third-section {
    font-weight: 400;
    font-size: 16px;
    color: #434455;
    background-color: #FFFFFF;
    line-height: 1.5;
    letter-spacing: 0.02em;
    list-style-type: none;
    padding-left: 0;
    text-align: center;
    margin-top: 0;
    }
.our-team-list-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    list-style: none;
    margin-top: 8px;
}

.link-icon {
    width: 40px;
    height: 40px;

}

.icon {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    color: #f4f4fd;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon:hover{background-color: #404bbf;}
.icon:focus{background-color: #404bbf;}

.team-icon {
    fill: #f4f4fd;
}

/* картинки */

.icon-section-second {
    width: 100%;
    height: 100%;
    }

.team-icon-container {
    fill:#2e2f42;
   
}

.team-icon-wrap {}

.container-icon {
border: 1px solid #8e8f99;
border-radius: 4px;
width: 264px;
height: 112px;
background: #f4f4fd;
display: flex;
align-items: center;
justify-content: center;
transition: background-color;
margin-bottom: 8px;
}


     /* Our portfolio section 4  */

.our-portfolio{
    padding-top: 120px;
    padding-bottom: 120px;
   
     }
.card-boxes-our-portfolio-list {
    display: flex;
    column-gap: 24px;
    flex-wrap: wrap;
    row-gap: 48px;
}
.our-portfolio-list {
    box-sizing: border-box;
    width: calc(100% - 48px) / 3;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.our-portfolio-list:hover { box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
transform: translateY(0%);}   



.our-portfolio-list:hover .text-card-images {box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
transform: translateY(0%);
}

.container-card-image {
position: relative;
overflow: hidden;
}

.text-card-images {
position: absolute;
top: 0;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
padding: 40px 32px;
background-color: #4d5ae5;
height: 100%;
width: 100%;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.text-card-images:hover {
    transform: translateY(0%);
}

.card-name-info-our-team {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
/* footer */

.footer{ 
    background: #2e2f42;
     padding-top: 100px;
     padding-bottom: 100px;
  
}
   .footer-container-first {
 }

.footer-text {
    color: #f4f4fd;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px
}
.studio-footer {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
    font-family: "Raleway", sans-serif;}



.logo-footer {
    display: inline-block;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
}

/* footer 2 */

.footer {display: flex;
    align-items: baseline;
}

.footer-container {
    width: 280px;
    height: 80px;
   }
 .footer-container-first {
    margin-right: 120px;
 }

.footer-text-two {
    font-family: "Roboto", sans-serif;
       font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;

}
.footer-ferst-second-section {
    display: flex;
    align-items: baseline;
    
}
/* ul */
.footer-icon {display: flex;
gap: 16px;
list-style: none;

}
/* li */
.footer-list {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* a */
.footer-list-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #f4f4fd;
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.footer-list-icon:focus { background-color: #31d0aa;}
.footer-list-icon:hover {background-color: #31d0aa;
}

.icon-footer
{fill: #f4f4fd
}


h1,h2,h3 {
    margin: 0;
}
p {
    margin: 0;
}

